html {
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
	
	color: #000;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
}

.no-margin {
	margin: 0;
}

.site-header{
	background: #2ba381;
	/* background: linear-gradient(360deg,#104d3b, rgb(202, 226, 219) ); */
	height: 100vh;
	position: relative;
	overflow: hidden;
	
}
.container-title{
	text-align: center;
}
.title{
	margin: 0;
	padding: 1rem 0;
}

.botones-principal {
	width: 50%;
	display: flex;
	justify-content: space-between;
	text-align: center;
	margin: 0 auto;
	padding-top: 20px;
}
@media (max-width: 678px) {
	.botones-principal{
		flex-wrap: wrap;
		width: 90%;
		margin: 1rem auto;
		justify-content: space-around;
		
	}
}

.btn{
	padding: .5rem 1rem;
	border-radius: 2rem;
	margin: .5rem 0.5rem;
}
.btn-nuevo{
	background:#47a0d8;
}
.btn-pedir{
	background: #c78843;
}

.btn-detener{
	background: #9e3b36;
}



.cartas {
	position: relative;
	width: 95px;
	margin-left: -50px;
	left: 100px;
	transform: rotate(360deg) ;
	transition: ease infinite;
}


h2{
	font-size: 20px;
	margin-left: 20px
}

.jugador{
	height: 180px;
}

.container-lose{
	position: absolute;
	left: 25%;
	right: 50%;
	top: 50%;	
}

.loser, .win{
	font-size: 8rem;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	margin: 0;
	animation: loser 6s ease  ;
	visibility: hidden;
	text-shadow:     0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}
@keyframes loser {
	to{
		transform: translateY(3rem)
	}
}
@media (max-width: 678px){
	.loser, .win{
		font-size: 3rem;
	}
}












/* .site-header {
	background: #000;
	height: 100vh;
	text-align: center;
}

 h1 {
	color: #fff;
	font-size: 25px;
	margin-top: 0;
	padding-top: 10px;
}
.botones-principal {
	text-align: center;
	padding-top: 5px;
	margin: 0;
}
.btn {
	padding: 10px;
	color: #fff;
	border: none;
	border-radius: 3px;
}

.btn-nuevo {
	color: #fff;
	background: red;
}
.btn-pedir {
	background: blue;
}
.btn-detener {
	background: #000;
}

.cartas {
	position: relative;
	left: 100px;
	margin-left: -75px;
	width: 150px;
}
#jugador-cartas {
	height: 220px;
} */
